body {
  font-family: 'Quicksand', serif;
  font-size: 14px;
  font-weight: 300;
}

html {
  background-image: url(background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.box {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

input {
  font-weight: 400;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 0.5rem;
}

a {
  color: #fff;
}

a:hover {
  color: #bababa;
}

.languages {
  margin-top: 10px;
}

.footer-text {
  font-weight: initial;
}

.hero-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20vh;
  margin: 0;
}

.container {
  margin-top: 10vh;
}